<!DOCTYPE html>
<html lang="en">

<head>
  <title>BasementRemodeling.com Product Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <style>
    .fit-image {
      width: 100%;
      object-fit: contain;
      height: 450px;
    }

    .carouselWidthWrapper {
      width: 500px;
    }

    .text-justify {
      text-align: justify;
      opacity: 0.8;
      line-height: 1.2;
    }
  </style>

</head>
<div class="pt-2 pb-1 d-flex justify-content-center">
  <img src="https://basementremodeling-archive-12345.s3.amazonaws.com/statis/BASEMENT+BLACK+4.png" style="height:50px" class="d-block"
    alt="Logo">
</div>

<body>
  <div class="container pb-4">
    <div class="row mt-2">
      <div class="col">
        <h5 class="text-center">SKU: {{SKU}}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="text-center">Price: ${{Price}}/sq.ft.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-center fw-light fs-6 lh-1">(Includes all labor and material)</p>
      </div>
    </div>
    {%if Images %}
    <div class="row m-sm-4">
      <div class="col d-flex justify-content-center">
        <div class="carouselWidthWrapper">
          <div id="carouselDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {%for image in Images %}
                  {% if loop.index == 1%}
                    <button type="button" data-bs-target="#carouselDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                  {% else %}
                      <button type="button" data-bs-target="#carouselDark" data-bs-slide-to="{{loop.index0}}" aria-label="Slide {{loop.index}}"></button>
                  {% endif %}
                {% endfor %}
            </div>
            <div class="carousel-inner">
              {% for image in Images %}
              <div class="carousel-item {%if loop.index0 == 0%} active{%endif%}" data-bs-interval="10000">
                <img src="{{image.url}}" class="d-block fit-image" alt="{{image.filename}}">
              </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    {%endif%}
    <div class="row mt-3">
      <div class="col">
        <p class="fw-light text-justify ln-1">{{Description}}</p>
      </div>
    </div>
  </div>
</body>

</html>